<!DOCTYPE html>
<html>

<head>
    <%- include ('./include/index_head.ejs') %>
</head>

<body>

    <div id="wrap">



        <header>
            <!-- main class mainHead -->
            <%- include ('./include/header.ejs') %>
        </header>

        <!-- location -->
        <nav class="locationNav">
            <ol>
                <li><a href="./" title="홈 바로가기"></a></li>
                <li><a href="./infor-overview.html">회사소개</a></li>
                <li>연혁</li>
            </ol>
        </nav>
        <!-- // location -->

        <!-- 서브 -->
        <section class="subContainer">
            <h2 class="titSub">연혁</h2>
            <h3 class="top_visual history">국내 대표 디지털청소 서비스 기업으로 성장<span>디지털청소 서비스의 중심!<br>닦다에서 만들어 가겠습니다.</span></h3>
            <div class="subContent">
                <ol class="company03_cont01">
                    <li>
                        <dl>
                            <dt>2022</dt>
                            <dd>2022 신생 기업</dd>

                        </dl>
                    </li>
                </ol>
            </div>
        </section>


        <footer>
			<%- include ('./include/footer.ejs') %>
        </footer>



    </div>

</body>

</html>