<!DOCTYPE html>
<html>
<head>
    <head>
        <%- include ('./include/index_header.ejs') %>
    </head>
    
</head>

<body>

	<div id="wrap">
	
		
	
        <header>
            <!-- main class mainHead -->
            <%- include ('./include/header.ejs') %>
        </header>xx
	
	

		
	
		<!-- location -->
        <nav class="locationNav">
            <ol>
                <li><a href="./" title="홈 바로가기"></a></li>
                <li><a href="./infor-overview.html">회사소개</a></li>
                
                <li>인재채용</li>
            </ol>
        </nav>
        <!-- // location -->

        <!-- 서브 -->
        <section class="subContainer">
            <h2 class="titSub">인재채용</h2>
            <h3 class="top_visual recruiter">닦다에서 인재를 모집합니다.<span>닦다와 함께 성장하고자 하는 분들의 지원을 기다립니다.<br>디지털청소전문가 로서 미래를 발전시켜 나갈 열정과 책임감을 갖춘 분들의 많은 지원을 바랍니다.</span></h3>
            <div class="subContent">
                <!-- 인재상 -->
                <div class="company05_cont01">
                    <h3>닦다 인재상</h3>
                    <ul>
                        <li>
                            <div>
                                <img src="./images/img_company05_cont01.jpg" alt="">
                                <strong>정직<span>(Honesty)</span></strong>
                            </div>
                            <p>고객, 회사, 스스로에게<br><b>올바른 가치</b>를 제공한다.</p>
                        </li>
                        <li>
                            <div>
                                <img src="./images/img_company05_cont02.jpg" alt="">
                                <strong>책임감<span>(Responsibility)</span></strong>
                            </div>
                            <p>고객, 회사, 스스로의<br><b>약속</b>을 반드시 지킨다.</p>
                        </li>
                        <li>
                            <div>
                                <img src="./images/img_company05_cont03.jpg" alt="">
                                <strong>열정<span>(Passion)</span></strong>
                            </div>
                            <p>고객, 회사, 스스로에게<br><b>열과 성</b>을 다한다.</p>
                        </li>
                    </ul>
                </div>
                <!-- // 인재상 -->

                <div class="bgGray_Cont">
                    <div class="company05_cont02">
                        <h3>채용 프로세스</h3>
                        <ol>
                            <li>
                                <div>
                                    <img src="./images/img_company05_step01.png" alt="">
                                </div>
                                <strong>서류전형</strong>
                            </li>
                            <li>
                                <div>
                                    <img src="./images/img_company05_step02.png" alt="">
                                </div>
                                <strong>1차 실무 면접<span>(실무 역량 평가)</span></strong>
                            </li>
                            <li>
                                <div>
                                    <img src="./images/img_company05_step03.png" alt="">
                                </div>
                                <strong>2차 임원 면접<span>(인성 및 태도 평가)</span></strong>
                            </li>
                            <li>
                                <div>
                                    <img src="./images/img_company05_step04.png" alt="">
                                </div>
                                <strong>최종합격<span>(합격 시 개별 안내)</span></strong>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <!-- // 서브 -->
        
	

		
		<footer>
			<%- include ('./include/footer.ejs') %>
        </footer>
    
    

	</div>
	
</body>

</html>