<!DOCTYPE html>
<html>

<head>
    <%- include ('./include/index_header.ejs') %>
</head>

<body>
    <div id="wrap">
        <header>
            <!-- main class mainHead -->
            <%- include ('./include/header.ejs') %>
        </header>

        <nav class="locationNav">
            <ol>
                <li><a href="./" title="홈 바로가기"></a></li>
                <li>메인페이지</li>
            </ol>
        </nav>

        <div class="businessCont">
            <h4 class="stitMain">주요 사업</h4>
            <ul>
                <li>
                    <a href="/security-monitor">
                        <span><img src="./images/img_business_part1.jpg" alt=""></span><!-- over시 확대되면서 글씨노출 -->
                        <p>디지털청소 서비스</p>
                        <strong>DigitalCleaning Service</strong>
                        <i title="자세히 보기"></i>
                    </a>
                </li>
                <li>
                    <a href="/security-consulting">
                        <span><img src="./images/img_business_part2.jpg" alt=""></span>
                        <p>개인정보 서비스</p>
                        <strong>Privacy Service </strong>
                        <i title="자세히 보기"></i>
                    </a>
                </li>
                <li>
                    <a href="/prom-siem">
                        <span><img src="./images/img_business_part3.jpg" alt=""></span>
                        <p>청소 솔루션</p>
                        <strong>Cleaning Solution</strong>
                        <i title="자세히 보기"></i>
                    </a>
                </li>
                <li>
                    <a href="/smart-system">
                        <span><img src="./images/img_business_part4.jpg" alt=""></span>
                        <p>스마트 시스템</p>
                        <strong>Smart System</strong>
                        <i title="자세히 보기"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- // BUSINESS -->

        <!-- information -->
        &nbsp;
        <pre></pre>
        <pre></pre>
        <div class="informationCont">
            <div>
                <div class="noticeSect">
                    <h3 class="stitMain">뉴스</h3>

                    <!-- 게시판 swipe -->
                    <div class="newsSwipeList">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="/news-detail?id=135">

                                        <span class="news_img"><img
                                                src="https://servicedesk.cyberone.kr/editor/2021-07/7bb56fdb1d2df123dfeb3766a1200dc86d2d6fec.jpg"
                                                alt=""></span>
                                        <div class="txtBox">
                                            <p>&quot;IPO 기대효과에 성장 가속도… 비대면 보안 플랫폼이 목표</p>
                                            <span>2021-03-28</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/news-detail?id=134">

                                        <span class="news_img"><img
                                                src="https://servicedesk.cyberone.kr/editor/2021-07/5185d52eed4b4a5f941568703585a5228a8ab86b.jpg"
                                                alt=""></span>
                                        <div class="txtBox">
                                            <p>&quot;남자 육아휴직도 회사가 감당해야할 몫&quot; 육동현 싸이버원 대표</p>
                                            <span>2020-08-06</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/news-detail?id=133">

                                        <span class="news_img"><img
                                                src="https://servicedesk.cyberone.kr/editor/2021-07/6f1f12e6fd1fb02efa9a4ab48646e98da5939275.jpg"
                                                alt=""></span>
                                        <div class="txtBox">
                                            <p>싸이버원-클라우드메이트, 클라우드 분야 사업협력 MOU 체결</p>
                                            <span>2020-06-16</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/news-detail?id=132">

                                        <span class="news_img"><img
                                                src="https://servicedesk.cyberone.kr/editor/2021-07/40a390c9c97ffb2057b1e5eb62b39a15a5e47661.jpg"
                                                alt=""></span>
                                        <div class="txtBox">
                                            <p>&#39;성공! 창업 릴레이 인터뷰!&#39; 싸이버원 대표 이사 육동현(전통·86) 동문 인터뷰</p>
                                            <span>2020-04-14</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/news-detail?id=131">

                                        <span class="news_img"><img
                                                src="https://servicedesk.cyberone.kr/editor/2021-07/ff3811ded9dd3cf7bfb0942987f529e146cd7275.jpg"
                                                alt=""></span>
                                        <div class="txtBox">
                                            <p>[클라우드 보안] 주목할만한 SECaaS_싸이버원</p>
                                            <span>2019-08-08</span>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                    <!-- // 게시판 swipe -->

                </div>

                <div class="publicSect">
                    <h3 class="stitMain">홍보영상</h3>
                    <div class="iframeBox">
                        <iframe width="" height="" src="https://youtu.com" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <p>정보를 삭제하는 디지털 장의사 / YTN 사이언스</p>
                </div>
            </div>
        </div>




		<footer>
			<%- include ('./include/footer.ejs') %>
        </footer>



    </div>

</body>

</html>