<!DOCTYPE html>
<html>

<head>
	<%- include ('./include/head2.ejs') %>
</head>

<body>

	<div id="wrap">

		<header>
			<%- include ('./include/header.ejs') %>
		</header>

		<!-- location -->
		<nav class="locationNav">
			<ol>
				<li><a href="./" title="홈 바로가기"></a></li>
				<li><a href="./gongzi-overview.html">공지사항</a></li>
			</ol>
		</nav>
		<!-- // location -->

		<!-- 서브 -->
		<section class="subContainer" style="padding-left: 80px;padding-right: 80px;">
			<h2 class="titSub">공지사항</h2>
			<div class="subContent">
				<div class="company08_cont01">
					<!-- 지도 -->

					<div class="bn-list-common02 type01 bn-common-cate">
						<div class="b-top-info-wrap">

						</div>

						<table summary="아주대학교 대표 공지사항" class="board-table">
							<caption class="hide">아주대학교 대표 공지사항</caption>
							<colgroup>

								<col class="b-col" />

								<col class="b-col" />

								<col class="b-col-title" />

								<col class="b-col" />

								<col class="b-col-wide" />


								<col class="b-col-date" />


							</colgroup>
							<thead>
								<tr>
									<th scope="col">번호</th>
									<th scope="col">분류</th>
									<th scope="col">제목</th>
									<th scope="col" class="b-no-right">파일</th>
									<th scope="col">공지부서</th>
									<th scope="col">작성일</th>
								</tr>
							</thead>


							<tbody>

								<tr class=" b-top-box">

									<td class="b-num-box num-notice">
										<span>공지</span>
									</td>

									<td>
										학사
									</td>

									<td class="b-td-left">

										<div class="b-title-box">

											<a href="?mode=view&amp;articleNo=196266&amp;article.offset=0&amp;articleLimit=10"
												title="[학부]2022-1학기 수업운영 안내 (2022.4.8 업데이트, 기존과 동일) 자세히 보기">
												<span class="b-notice">[공지]</span>
												[학부]2022-1학기 수업운영 안내 (2022.4.8 업데이트, 기존과 동일)
											</a>

											<div class="b-etc-box">

											</div>

											<div class="b-m-con">
												<span class="b-notice">
													공지
												</span>

												<span class="b-cate">
													학사
												</span>
												<span class="b-writer">교무팀</span>

												<span class="b-date">
													22.04.08
												</span>
												<span class="hit">조회수 1026</span>

											</div>
										</div>
									</td>



									<td class="b-no-right">

										<div class="b-common-file-box type01">
											<a href="#a" title="첨부파일 목록 열기" class="btn-popup-file"><span>첨부파일</span></a>
											<div class="b-popup-file-wrap js-popup-file">
												<div class="b-popup-file-box ko">
													<h5 class="b-h5-tit02">첨부파일</h5>
													<ul>

														<li>
															<a href="?mode=download&amp;articleNo=180913&amp;attachNo=160067"
																title="첨부파일다운로드">예방접종 증명서 발급 방법.pdf</a>

														</li>

														<li>
															<a href="?mode=download&amp;articleNo=180913&amp;attachNo=174766"
																title="첨부파일다운로드">코로나19 확산에 따른 출석인정(공결)
																안내_공지사항_0216수정.pdf</a>

														</li>

													</ul>
												</div>
											</div>
										</div>


									</td>
									<td>교무팀</td>
									<td>2022-02-16</td>

								</tr>

							</tbody>
						</table>
					</div>


					<div class="b-paging01 type01">

						<div class="b-paging-wrap">
							<ul>

								<li><a href="#curPage" class="active">1</a></li>

								<li><a href="?mode=list&amp;&amp;articleLimit=10&amp;article.offset=10">2</a></li>


								<li class="next pager">
									<a href="?mode=list&amp;&amp;articleLimit=10&amp;article.offset=10"
										title="다음 페이지로 이동하기">
										<span class="active"> > </span>
									</a>
								</li>



								<li class="last pager">
									<a href="?mode=list&amp;&amp;articleLimit=10&amp;article.offset=15660"
										title="마지막 페이지로 이동하기">
										<span class="active"> >> </span>
									</a>
								</li>



							</ul>
						</div>

					</div>



					<div class="b-btn-wrap">
						<ul>

						</ul>
					</div>

				</div>
			</div>
		</section>
		<footer style="border-top: 1px solid #e2e2e2;
		padding: 72px 0;
		background-color: #303030;
		color: #fff;
		font-family: 'NanumSquareL';">
			<%- include ('./include/footer.ejs') %>
		</footer>



	</div>
</body>

</html>