<!DOCTYPE html>
<html>

<head>
    <%- include ('./include/head2.ejs') %>
</head>

<body>

    <div id="wrap">
        <header>
            <%- include ('./include/header.ejs') %>
        </header>

        <!-- location -->
        <nav class="locationNav">
            <ol>
                <li><a href="./" title="홈 바로가기"></a></li>
                <li><a href="./q&a-overview.html">Q&A</a></li>
            </ol>
        </nav>
        <!-- // location -->

        <!-- 서브 -->
        <section class="subContainer">

            <h2 class="titSub">Q&A</h2>
            <div class="subContent">
                <div>
                    <!-- 지도 -->

                    <div class="">

                    </div>
                    </h3>
                </div>
            </div>
            <div class="sub-container">
                <div class="content-wrap">
                    <div class="tab"></div>
                    <div class="content cms-edit" id="cms-content">

                        <script type="text/javascript">
                            //<![CDATA[
                            var resPath = '/_custom/ajou/resource/', isEditorImageUpload = 'true' == 'false' ? false : true, clientId = 'ajou', boardTy = 'community', boardNo = '30', siteId = 'kr';
                    //]]>
                        </script>
                        <div class="ko board list co-board ">

                            <div class="community">

                                <div class="bn-search01 type01">

                                    <div class="b-total-wrap">
                                        <p>Total<span> *건</span>,<span> 1</span>/<span>*</span></p>
                                    </div>

                                    <form method="get" action="?" id="searchForm">

                                        <fieldset class="b-search-wrap">
                                            <legend class="hide">게시글 검색</legend>
                                            <input type="hidden" name="mode" value="list" />

                                            <div class="b-sel-box b-cate-basic">
                                                <label for="search_key" class="hide">검색분류선택</label>
                                                <input type="hidden" name="srSearchKey" id="search_key" value="" />
                                                <a href="#search" class="b-sel-title">전체</a>
                                                <ul>

                                                    <li>
                                                        <a href="#search" class="select-option" title="제목"
                                                            data-value="article_title">
                                                            제목
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#search" class="select-option" title="내용"
                                                            data-value="article_text">
                                                            내용
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#search" class="select-option" title="작성자"
                                                            data-value="writer_nm">
                                                            작성자
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>

                                            <div class="b-search-box">
                                                <label for="search_val" class="b-sel-label">
                                                    <span>검색어</span>
                                                </label>
                                                <input type="text" id="search_val" name="srSearchVal" value=""
                                                    placeholder="검색어를 입력해 주세요" />
                                                <button type="submit" class="b-sel-btn">검색</button>
                                            </div>
                                        </fieldset>
                                    </form>

                                </div>

                                <div class="bn-list-common02 type01 bn-common">
                                    <div class="b-top-info-wrap">

                                    </div>

                                    <table summary="닦다 > Q&A " class="board-table">
                                        <caption class="hide">닦다 &gt; Q&A </caption>
                                        <colgroup>

                                            <col class="b-col" />

                                            <col class="b-col-title" />

                                            <col class="b-col" />

                                            <col class="b-col-date" />

                                            <col class="b-col-date" />

                                            <col class="b-col" />

                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th scope="col">번호</th>
                                                <th scope="col">제목</th>
                                                <th scope="col" class="b-no-right">파일</th>
                                                <th scope="col">작성자</th>
                                                <th scope="col">작성일</th>
                                                <th scope="col" class="">
                                                    조회수
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <td class="b-no-right">
                                                <div class="b-common-file-box type01">
                                                    <a href="#a" title="첨부파일 목록 열기"
                                                        class="btn-popup-file"><span>첨부파일</span></a>
                                                    <div class="b-popup-file-wrap js-popup-file">
                                                        <div class="b-popup-file-box ko">
                                                            <h5 class="b-h5-tit02">첨부파일</h5>
                                                            <ul>
                                                                <li>
                                                                    <a href="?mode=download&amp;articleNo=193008&amp;attachNo=175134"
                                                                        title="첨부파일다운로드">IMG_7981.jpeg</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>


                                            </td>
                                            <td>강병수</td>
                                            <td>202 2-03-23</td>
                                            <td class=""> 332 </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


                                <div class="b-paging01 type01">
                                    <div class="b-paging-wrap">
                                        <ul style="padding-bottom: 40px;">
                                            <li><a href="#curPage" class="active">1</a></li>
                                            <li class="next pager">
                                                <a href="?mode=list&amp;&amp;articleLimit=10&amp;article.offset=10"
                                                    title="다음 페이지로 이동하기">
                                                    <span class="active"> > </span>
                                                </a>
                                            </li>


                                            <li class="last pager">
                                                <a href="?mode=list&amp;&amp;articleLimit=10&amp;article.offset=1350"
                                                    title="마지막 페이지로 이동하기">
                                                    <span class="active"> >> </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <li>
                                    <a class="b-btn-type01 b-btn-c-blue"
                                        href="?mode=write&amp;article.offset=0&amp;articleLimit=10">등록</a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        		<!--===============================================================================================-->
		<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
		<!--===============================================================================================-->
		<script src="vendor/animsition/js/animsition.min.js"></script>
		<!--===============================================================================================-->
		<script src="vendor/bootstrap/js/popper.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<!--===============================================================================================-->
		<script src="vendor/select2/select2.min.js"></script>
		<!--===============================================================================================-->
		<script src="vendor/daterangepicker/moment.min.js"></script>
		<script src="vendor/daterangepicker/daterangepicker.js"></script>
		<!--===============================================================================================-->
		<script src="vendor/countdowntime/countdowntime.js"></script>
		<!--===============================================================================================-->
		<script src="js/main.js"></script>
        <footer style="border-top: 1px solid #e2e2e2;
        padding: 72px 0;
        background-color: #303030;
        color: #fff;
        font-family: 'NanumSquareL';">
            <%- include ('./include/footer.ejs') %>
        </footer>



    </div>
</body>

</html>