<!DOCTYPE html>
<html lang="en">

<head>
	<%- include ('./include/head.ejs') %>

</head>

<body>
	<header>
		<%- include ('./include/header.ejs') %>
	</header>
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg')">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33" style="margin-top: 100px;">
				<form class="login100-form validate-form flex-sb flex-w" action="/signup" method="post">
					<span class="login100-form-title p-b-53">
						회원가입
					</span>

					<div class="p-t-31 p-b-9">
						<span class="txt1"> 이름 </span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="이름을 기입해주세요.">
						<input class="input100" type="text" name="username" />
						<span class="focus-input100"></span>
					</div>

					<div class="p-t-13 p-b-9">
						<span class="txt1"> 아이디 </span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="아이디를 기입해주세요.">
						<input class="input100" type="text" name="id" id="id" />
						<span class="focus-input100"></span>
					</div>

					<div class="p-t-13 p-b-9">
						<span class="txt1"> 비밀번호 </span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="비밀번호를 기입해주세요." style="height: 42px;">
						<input class="input100" type="password" name="password" style="height: 100%;" />
						<span class="focus-input100"></span>
					</div>

					<div class="p-t-13 p-b-9">
						<span class="txt1"> 비밀번호 확인 </span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="비밀번호가 일치하지 않습니다." style="height: 42px;">
						<input class="input100" type="password" name="repassword" style="height: 100%;" />
						<span class=" focus-input100"></span>
					</div>

					<div class="p-t-31 p-b-9">
						<span class="txt1"> 이메일 </span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="이메일을 기입해주세요.">
						<input class="input100" type="text" name="email" />
						<span class="focus-input100"></span>
					</div>

					<div class="p-t-13 p-b-9">
						<span class="txt1"> 전화번호 </span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="전화번호를 기입해주세요." style="height: 42px;">
						<input class="input100" style="height: 100%;" type="phonenumber" name="phoneNumber"
							placeholder="000-0000-0000" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" />
						<span class=" focus-input100"></span>
					</div>




					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn" type="submit">
							회원가입
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>

	<footer>
		<%- include ('./include/footer.ejs') %>
	</footer>

</body>

</html>