<!DOCTYPE html>
<html>

<head>
    <%- include ('./include/index_head.ejs') %>
</head>

<body>

    <div id="wrap">



        <header>
            <!-- main class mainHead -->
            <%- include ('./include/header.ejs') %>
        </header>





        <!-- location -->
        <nav class="locationNav">
            <ol>
                <li><a href="./" title="홈 바로가기"></a></li>
                <li>개인정보처리방침</li>
            </ol>
        </nav>
        <!-- // location -->

        <!-- 서브 -->
        <section class="subContainer">
            <h2 class="titSub">개인정보처리방침</h2>

            <div class="subContent">
                <!-- 약관 -->
                <div class="termsBox">
                    <div class="termsDay">
                        <div><strong>이전 개정일자</strong><span>: 2020년 4월 10일</span></div>
                        <div><strong>현행 개정일자</strong><span>: 2022년 4월 10일</span></div>
                        <a href="./terms-persnal-20140701" target="_blank">이전 개인정보처리방침 보기</a>
                    </div>
                    <p class="boxStyle">
                        &lt;(주)닦다&gt;(‘www.DaccDa.kr’이하 ‘닦다’)은 개인정보보호법 및 정보통신망 이용촉진 및 정보보호 등에 관한 법률에 따라 이용자의 개인정보 보호 및
                        권익을 보호하고 개인정보와 관련한 이용자의 고충을 신속하고 원활하게 처리할 수 있도록 다음과 같이 개인정보처리방침을 수립·공개합니다.
                    </p>
                    <ol class="termsList">
                        <li>
                            <h3 class="titTerms">1. 처리하는 개인정보의 항목</h3>
                            <p class="titTxt">‘닦다’은 다음의 개인정보 항목을 처리하고 있습니다.</p>
                            <ol class="depList01">
                                <li>
                                    <h4 class="stitTerms">1) 홈페이지 회원가입 및 관리</h4>
                                    <p>- 필수항목 : 회원아이디, 비밀번호, 이름, 핸드폰번호, 이메일, 회사명. 직통번호(내선)</p>
                                    <p>- 선택항목 : 전화번호, 직급, 담당업무</p>
                                </li>
                                <li>
                                    <h4 class="stitTerms">2) 기타</h4>
                                    <ol class="depList02">
                                        <li>
                                            <h5>① 채용</h5>
                                            <p>필수항목 : 사진, 지원자이름(한글, 영문), 비밀번호, 이메일, 주소, 결혼여부, 휴대폰번호, 보훈여부, 장애여부, 병역사항,
                                                자기소개서</p>
                                            <p>선택항목 : 한자이름, 집전화번호, 경력사항, 가족사항, 외국어 및 자격사항, 해외경험, 수상경력, 교육사항, 경력기술서 기타
                                                첨부파일 등 입사지원 관련사항</p>
                                            <p>수집방법 : 입사지원 페이지, 이메일 제출, 서류제출</p>
                                        </li>
                                        <li>
                                            <h5>② 방문객</h5>
                                            <p>필수항목 : 성명, 연락처</p>
                                            <p>선택항목 : 회사명</p>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </li>

                        <li>
                            <h3 class="titTerms">2. 개인정보의 처리 목적</h3>
                            <p class="titTxt">‘닦다’은 개인정보를 다음의 목적을 위해 처리하고 있으며, 다음의 목적 이외의 용도로 이용하지 않습니다.</p>
                            <ol class="depList01">
                                <li>
                                    <h4 class="stitTerms">1) 홈페이지 회원가입 및 관리</h4>
                                    <p>- 회원 가입의사 확인, 서비스관련 문의 시의 회원여부 확인 등의 목적으로 개인정보를 처리합니다.</p>
                                </li>
                                <li>
                                    <h4 class="stitTerms">2) 기타</h4>
                                    <ol class="depList02">
                                        <li>
                                            <h5>① 채용 : 신청자 본익 식별, 자격증빙 확인, 입사전형 등 채용 진행사항 관련 업무</h5>
                                        </li>
                                        <li>
                                            <h5>② 방문객 : 사내 물리적 보안을 위해 출입자(방문객) 신분 확인</h5>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </li>

                        <li>
                            <h3 class="titTerms">3. 개인정보 처리 및 보유 기간</h3>
                            <p class="titTxt">‘닦다’은 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보 수집시에 동의받은 개인정보 보유·이용기간 내에서 개인정보를
                                처리·보유합니다.</p>
                            <ol class="depList01">
                                <li>
                                    <h4 class="stitTerms">1) 홈페이지 회원가입 및 관리 : 탈퇴시까지</h4>
                                    <p>- 회원 가입의사 확인, 서비스관련 문의 시의 회원여부 확인 등의 목적으로 개인정보를 처리합니다.</p>
                                </li>
                                <li>
                                    <h4 class="stitTerms">2) 기타</h4>
                                    <ol class="depList02">
                                        <li>
                                            <h5>① 채용 : 채용 절차 종료시까지</h5>
                                        </li>
                                        <li>
                                            <h5>② 방문객 : 1년</h5>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h3 class="titTerms">4. 정보주체의 권리,의무 및 그 행사방법</h3>
                            <ol class="depList01">
                                <li>
                                    <h4 class="stitTerms">1) 정보주체는 ‘닦다’에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.</h4>
                                    <ol class="depList02">
                                        <li>
                                            <h5>① 개인정보 열람요구</h5>
                                        </li>
                                        <li>
                                            <h5>② 오류 등이 있을 경우 정정 요구</h5>
                                        </li>
                                        <li>
                                            <h5>③ 삭제요구</h5>
                                        </li>
                                        <li>
                                            <h5>④ 처리정지 요구</h5>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <h4 class="stitTerms">2) 제1항에 따른 권리 행사는 ‘닦다’에 대해 개인정보 보호법 시행규칙 별지 제8호 서식에 따라 서면,
                                        전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며 (‘www.cyberone.kr’이하 ‘닦다홈페이지’)는 이에 대해 지체 없이
                                        조치하겠습니다.</h4>
                                </li>
                                <li>
                                    <h4 class="stitTerms">3) 정보주체가 개인정보의 오류 등에 대한 정정 또는 삭제를 요구한 경우에는 ‘닦다홈페이지’는 정정 또는 삭제를
                                        완료할 때까지 당해 개인정보를 이용하거나 제공하지 않습니다.</h4>
                                </li>
                                <li>
                                    <h4 class="stitTerms">4) 제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다.
                                        이 경우 개인정보 보호법 시행규칙 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.</h4>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h3 class="titTerms">5. 개인정보의 파기</h3>
                            <p class="titTxt"><b>’닦다’은 원칙적으로 개인정보 처리목적이 달성된 경우에는 지체 없이 해당 개인정보를 파기합니다. 파기의 절차, 기한 및 방법은
                                    다음과 같습니다.</b></p>
                            <dl class="descList01">
                                <dt>- 파기절차</dt>
                                <dd>이용자가 입력한 정보는 목적 달성 후 별도의 DB에 옮겨져(종이의 경우 별도의 서류) 내부 방침 및 기타 관련 법령에 따라 일정기간 저장된 후 혹은
                                    즉시 파기됩니다. 이 때, DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.</dd>
                                <dt>- 파기기한</dt>
                                <dd>이용자의 개인정보는 개인정보의 보유기간이 경과, 개인정보의 처리 목적이 달성, 해당 서비스의 폐지, 사업의 종료 등 그 개인정보가 불필요하게 되었을
                                    때에는 지체없이 파기합니다.</dd>
                                <dt>- 파기방법</dt>
                                <dd>전자적 파일 형태의 정보는 기록을 재생할 수 없는 기술적 방법을 사용합니다.<br>종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여
                                    파기합니다.</dd>
                            </dl>
                        </li>
                        <li>
                            <h3 class="titTerms">6. 개인정보의 안전성 확보 조치</h3>
                            <p class="titTxt"><b>‘닦다’은 개인정보보호법 제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고
                                    있습니다.</b></p>
                            <ol class="depList01">
                                <li>
                                    <h4 class="stitTerms">1. 개인정보 처리 직원의 최소화 및 교육</h4>
                                    <p>개인정보를 처리하는 직원을 지정하고 담당자에 한정시켜 최소화 하여 개인정보를 관리하는 대책을 시행하고 있습니다.</p>
                                </li>
                                <li>
                                    <h4 class="stitTerms">2. 정기적인 자체 감사 실시</h4>
                                    <p>개인정보 처리 관련 안정성 확보를 위해 정기적(분기 1회)으로 자체 감사를 실시하고 있습니다.</p>
                                </li>
                                <li>
                                    <h4 class="stitTerms">3. 내부관리계획의 수립 및 시행</h4>
                                    <p>개인정보의 안전한 처리를 위하여 내부관리계획을 수립하고 시행하고 있습니다.</p>
                                </li>
                                <li>
                                    <h4 class="stitTerms">4. 개인정보의 암호화</h4>
                                    <p>이용자의 개인정보는 비밀번호는 암호화 되어 저장 및 관리되고 있어, 본인만이 알 수 있으며 중요한 데이터는 파일 및 전송 데이터를 암호화 하거나
                                        파일 잠금 기능을 사용하는 등의 별도 보안기능을 사용하고 있습니다.</p>
                                </li>
                                <li>
                                    <h4 class="stitTerms">5. 해킹 등에 대비한 기술적 대책</h4>
                                    <p>‘닦다’은 해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 주기적인 갱신·점검을 하며 외부로부터
                                        접근이 통제된 구역에 시스템을 설치하고 기술적/물리적으로 감시 및 차단하고 있습니다.</p>
                                </li>
                                <li>
                                    <h4 class="stitTerms">6. 개인정보에 대한 접근 제한</h4>
                                    <p>개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여,변경,말소를 통하여 개인정보에 대한 접근통제를 위하여 필요한 조치를 하고 있으며
                                        침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있습니다.</p>
                                </li>
                                <li>
                                    <h4 class="stitTerms">7. 접속기록의 보관 및 위변조 방지</h4>
                                    <p>개인정보처리시스템에 접속한 기록을 최소 6개월 이상 보관, 관리하고 있으며, 접속 기록이 위변조 및 도난, 분실되지 않도록 보안기능 사용하고
                                        있습니다.</p>
                                </li>
                                <li>
                                    <h4 class="stitTerms">8. 문서보안을 위한 잠금장치 사용</h4>
                                    <p>개인정보가 포함된 서류, 보조저장매체 등을 잠금장치가 있는 안전한 장소에 보관하고 있습니다.</p>
                                </li>
                                <li>
                                    <h4 class="stitTerms">9. 비인가자에 대한 출입 통제</h4>
                                    <p>개인정보를 보관하고 있는 물리적 보관 장소를 별도로 두고 이에 대해 출입통제 절차를 수립, 운영하고 있습니다.</p>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h3 class="titTerms">7. 개인정보 보호책임자 작성</h3>
                            <p class="titTxt"><b>’닦다’은 원칙적으로 개인정보 처리목적이 달성된 경우에는 지체 없이 해당 개인정보를 파기합니다. 파기의 절차, 기한 및 방법은
                                    다음과 같습니다.</b></p>
                            <ol class="depList01">
                                <li>
                                    <h4 class="stitTerms">① ‘닦다’은 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및
                                        피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.</h4>
                                    <p>이용자가 입력한 정보는 목적 달성 후 별도의 DB에 옮겨져(종이의 경우 별도의 서류) 내부 방침 및 기타 관련 법령에 따라 일정기간 저장된 후
                                        혹은 즉시 파기됩니다. 이 때, DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.</p>
                                    <div class="termsTable_mv plNone">
                                        <strong>개인정보 보호 책임자</strong>
                                        <table class="">
                                            <colgroup>
                                                <col stlye="width:20%">
                                                <col stlye="width:30%">
                                                <col stlye="width:20%">
                                                <col stlye="width:30%">
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">성 명</th>
                                                    <td>이지유</td>
                                                    <th scope="row">부서명</th>
                                                    <td>경영기획실</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">직 위</th>
                                                    <td>실장</td>
                                                    <th scope="row">연락처</th>
                                                    <td>02-****-****</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">이메일</th>
                                                    <td>DaccDa@DaccDa.kr</td>
                                                    <th scope="row">팩스</th>
                                                    <td>02-****-****</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="mobileTxt"> <span class="arrTxt">↔</span> 가로로 스크롤 하시면 내용을 확인하실 수 있습니다.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <h4 class="stitTerms">② 정보주체께서는 ‘닦다’의 서비스를 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제
                                        등에 관한 사항을 개인정보 보호책임자 및 담당부서로 문의하실 수 있습니다. ‘닦다’은 정보주체의 문의에 대해 지체 없이 답변 및 처리해드릴
                                        것입니다.</h4>
                                </li>
                            </ol>
                        </li>

                        <li>
                            <h3 class="titTerms">8. 개인정보 열람청구</h3>
                            <p class="titTxt">정보주체는 개인정보 보호법 제35조에 따른 개인정보의 열람 청구를 아래의 부서에 할 수 있습니다. 회사는 정보주체의 개인정보
                                열람청구가 신속하게 처리되도록 노력하겠습니다.</p>
                            <ul class="depList01">
                                <li>
                                    <div class="termsTable_mv plNone">
                                        <strong>개인정보 열람청구 접수·처리부서</strong>
                                        <table class="">
                                            <colgroup>
                                                <col stlye="width:20%">
                                                <col stlye="width:30%">
                                                <col stlye="width:20%">
                                                <col stlye="width:30%">
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">부서명</th>
                                                    <td>인사총무팀</td>
                                                    <th scope="row">이메일</th>
                                                    <td>DaccDa@DaccDa.kr</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">연락처</th>
                                                    <td>02-****-****</td>
                                                    <th scope="row">팩스</th>
                                                    <td>02-****-****</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="mobileTxt"> <span class="arrTxt">↔</span> 가로로 스크롤 하시면 내용을 확인하실 수 있습니다.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <h3 class="titTerms">9. 권익침해 구제방법</h3>
                            <p class="titTxt">정보주체는 아래의 기관에 대해 개인정보 침해에 대한 피해구제, 상담 등을 문의하실 수 있습니다.<br>&lt;아래의 기관은 회사와는
                                별개의 기관으로서, 회사의 자체적인 개인정보 불만처리, 피해구제 결과에 만족하지 못하시거나 보다 자세한 도움이 필요하시면 문의하여 주시기 바랍니다.&gt;
                            </p>
                            <ul class="depList01">
                                <li>
                                    <div class="termsTable_mv plNone">
                                        <strong>▶ 개인정보 침해신고센터 (한국인터넷진흥원 운영)</strong>
                                        <table class="">
                                            <colgroup>
                                                <col stlye="width:20%">
                                                <col stlye="width:30%">
                                                <col stlye="width:20%">
                                                <col stlye="width:30%">
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">소관업무</th>
                                                    <td>개인정보 침해사실 신고, 상담 신청</td>
                                                    <th scope="row">홈페이지</th>
                                                    <td>privacy.kisa.or.kr</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">전화</th>
                                                    <td>(국번없이) 118</td>
                                                    <th scope="row">주소</th>
                                                    <td>(138-950) 서울시 송파구 중대로 135 한국인터넷진흥원 개인정보침해 신고센터</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="mobileTxt"> <span class="arrTxt">↔</span> 가로로 스크롤 하시면 내용을 확인하실 수 있습니다.
                                        </p>
                                    </div>

                                    <div class="termsTable_mv plNone">
                                        <strong>▶ 개인정보 분쟁조정위원회</strong>
                                        <table class="">
                                            <colgroup>
                                                <col stlye="width:20%">
                                                <col stlye="width:30%">
                                                <col stlye="width:20%">
                                                <col stlye="width:30%">
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">소관업무</th>
                                                    <td>개인정보 분쟁조정신청, 집단분쟁조정 (민사적 해결)</td>
                                                    <th scope="row">홈페이지</th>
                                                    <td>www.kopico.go.kr</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">전화</th>
                                                    <td>1833-6972</td>
                                                    <th scope="row">주소</th>
                                                    <td>(03171) 서울특별시 종로구 세종대로 209 정부서울청사 4층</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="mobileTxt"> <span class="arrTxt">↔</span> 가로로 스크롤 하시면 내용을 확인하실 수 있습니다.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h3 class="titTerms">10. 개인정보처리방침 변경</h3>
                            <ol class="depList01">
                                <li>
                                    <h4 class="stitTerms">1. 이 방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는
                                        변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.</h4>
                                </li>
                                <li>
                                    <h4 class="stitTerms">2. 이전의 방침은 아래에서 확인하실 수 있습니다.</h4>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>
                <!-- // 약관 -->

            </div>
        </section>
        <!-- // 서브 -->




        <footer>
            <%- include ('./include/footer.ejs') %>
        </footer>



    </div>

</body>

</html>