<div>    
    <div class="ft_rigBox">
        <div class="termsLink">
            <a href="./terms-inside.html">내부정보관리규정</a>
            <a href="./terms-persnal.html"><b>개인정보처리방침</b></a>
        </div>
        <address>[52064] 서울특별시 강남구 도산대로1 (신사동, 닦다 빌딩) (주) 닦다 <br>본사 대표번호 02-****-****<span class="line"></address>
            <p>Copyright 2022 DaccDa.Co.LTD All Right Reserved.</p>
    </div>
</div>