<div class="inHeadBox">
    <h1><a href="./" title="로고"><img src="./images/img_logo_head.png"></a></h1>
    <button type="button" class="btn_allMenu" title="전체메뉴">
        <span></span><span></span><span></span>
    </button>
    <nav>
        <h2 class="menuTit">전체메뉴</h2>
        <ul class="menuList">
            <li>
                <a href="./infor-overview" class="pcMenu">회사소개</a>
                <a href="#" class="moMenu">회사소개</a>
                <div class="innerMenuBox">
                    <ul class="in_menuList">
                        <li>
                            <div class="">
                                <a href="./infor-overview">회사정보</a>
                                <a href="./infor-history">연혁</a>
                                <a href="./infor-recruit" class="lastBd">인재채용</a>
                            </div>
                        </li>

                    </ul>
                </div>

            </li>
            <li>
                <a href="./service-overview.html" class="pcMenu">서비스 예약</a>
                <a href="#" class="moMenu">서비스 에약</a>
                <div class="innerMenuBox">
                    <ul class="in_menuList">
                        <li>
                            <div class="">
                                <a href="./service-overview.html">서비스 소개</a>
                                <a href="./service-contact.html">서비스 예약</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="./notice" class="pcMenu">공지사항</a>
                <a href="#" class="moMenu">공지사항</a>
                <div class="innerMenuBox">
                    <ul class="in_menuList">
                        <li>
                            <div class="">
                                <a href="./notice">공지사항</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="./qna" class="pcMenu">Q&A</a>
                <a href="#" class="moMenu">Q&A</a>
                <div class="innerMenuBox">
                    <ul class="in_menuList">
                        <li>
                            <div class="">
                                <a href="./qna">Q&A</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <% if (locals.user) { %>

            <div class="rightQuickBox">
                
                <div style="margin: 10px;font-size: 20px;"><%= user %>님 반갑습니다.</div>
            
                <a href="./logout" class="signup"><img src="./images/ico_right_quick02.png"
                        alt="로그아웃 아이콘">로그아웃</a>
            </div>
            
          
          <% } else { %>
          
            <div class="rightQuickBox">
                <a href="./login" class="login"><img src="./images/ico_right_quick01.png"
                        alt="로그인 아이콘">로그인</a>
                        

                <a href="./signup" class="signup"><img src="./images/ico_right_quick02.png"
                        alt="회원가입 아이콘">회원가입</a>
            </div>
          
          <% } %>
        
    </nav>
</div>