<div class="inHeadBox">
    <h1><a href="/" title="로고"><img src="/images/img_logo_head.png"></a></h1>
    <button type="button" class="btn_allMenu" title="전체메뉴">
        <span></span><span></span><span></span>
    </button>
    <nav>
        <h2 class="menuTit">전체메뉴</h2>
        <ul class="menuList">
            <li>
                <a href="/infor-overview" class="pcMenu">회사소개</a>
                <a href="#" class="moMenu">회사소개</a>
                <div class="innerMenuBox">
                    <ul class="in_menuList">
                        <li>
                            <div class="">
                                <a href="/infor-overview">회사정보</a>
                                <a href="/infor-history">연혁</a>
                                <a href="/infor-recruit" class="lastBd">인재채용</a>
                            </div>
                        </li>

                    </ul>
                </div>

            </li>
            <li>
                <a href="/service" class="pcMenu">서비스 예약</a>
                <a href="#" class="moMenu">서비스 에약</a>
                <div class="innerMenuBox">
                    <ul class="in_menuList">
                        <li>
                            <div class="">
                                <a href="/service">서비스 예약</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/notice/page/1" class="pcMenu">공지사항</a>
                <a href="#" class="moMenu">공지사항</a>
                <div class="innerMenuBox">
                    <ul class="in_menuList">
                        <li>
                            <div class="">
                                <a href="/notice/page/1">공지사항</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/board/page/1" class="pcMenu">자유게시판</a>
                <a href="#" class="moMenu">자유게시판</a>
                <div class="innerMenuBox">
                    <ul class="in_menuList">
                        <li>
                            <div class="">
                                <a href="/board/page/1">자유게시판</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <% if (locals.user) { %>

            <div class="rightQuickBox">

                <div style="margin: 10px;font-size: 20px;font-weight: 300;"><a href="/profile"
                        style="border: 0; font-size: 25px; padding: 0;">
                        <%= user %>
                    </a>님 반갑습니다.</div>

                <a href="/logout" class="signup" style="border: 0px; font-size: 20px; margin-left: 20px; color: #333;">
                    <button type="button" class="btn btn-outline-dark" style="font-size: 18px;">
                        로그아웃
                    </button>
                </a>


            </div>


            <% } else { %>

                <div class="rightQuickBox">
                    <a href="/login" class="signup"
                        style="border: 0px; font-size: 20px; margin-left: 20px; color: #333;">
                        <button type="button" class="btn btn-outline-dark" style="font-size: 18px;">
                            로그인
                        </button>
                    </a>


                    <a href="/signup/policy" class="signup"
                        style="border: 0px; font-size: 20px; margin-left: 20px; color: #333;">
                        <button type="button" class="btn btn-outline-dark" style="font-size: 18px;">
                            회원가입
                        </button>
                    </a>

                </div>

                <% } %>

    </nav>
</div>